In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('clientes.csv')
df

,Miguel,Navarro,Calle Central 449,555-7961,ana@example.com,2023-02-27
0,Carmen,Navarro,Calle Norte 659,555-8199,ana@example.com,2024-10-25
1,Sofía,Ruiz,Calle Oeste 504,555-9360,ana@example.com,2023-01-10
2,Carlos,Herrera,Calle Sol 533,555-7115,jorge@example.com,2024-03-13
3,Fernando,Navarro,Calle Estrella 446,555-4390,ana@example.com,2023-04-15
4,Sofía,Pérez,Calle Central 606,555-3117,claudia@example.com,2023-03-01
...,...,...,...,...,...,...
144,Alberto,Vega,Calle Luna 947,555-8111,sofia@example.com,2023-09-05
145,Carlos,Fernández,Calle Sur 224,555-4859,pedro@example.com,2023-02-16
146,Claudia,García,Calle Oeste 690,555-9656,sofia@example.com,2024-11-14
147,Andrés,Domínguez,Calle Este 479,555-8572,elena@example.com,2023-09-06
148,Sofía,Gil,Calle Libertad 402,555-9261,maria@example.com,2023-04-27

In [6]:
lista_clientes = df.values.tolist()
lista_clientes

[['Carmen',
  'Navarro',
  'Calle Norte 659',
  '555-8199',
  'ana@example.com',
  '2024-10-25'],
 ['Sofía',
  'Ruiz',
  'Calle Oeste 504',
  '555-9360',
  'ana@example.com',
  '2023-01-10'],
 ['Carlos',
  'Herrera',
  'Calle Sol 533',
  '555-7115',
  'jorge@example.com',
  '2024-03-13'],
 ['Fernando',
  'Navarro',
  'Calle Estrella 446',
  '555-4390',
  'ana@example.com',
  '2023-04-15'],
 ['Sofía',
  'Pérez',
  'Calle Central 606',
  '555-3117',
  'claudia@example.com',
  '2023-03-01'],
 ['Marta',
  'Domínguez',
  'Calle Libertad 363',
  '555-9877',
  'elena@example.com',
  '2024-08-27'],
 ['Claudia',
  'Vega',
  'Calle Central 146',
  '555-4130',
  'luis@example.com',
  '2024-10-11'],
 ['Patricia',
  'Castro',
  'Calle Luna 821',
  '555-7720',
  'maria@example.com',
  '2024-09-02'],
 ['Pedro',
  'Gómez',
  'Calle Central 831',
  '555-9197',
  'sofia@example.com',
  '2023-07-12'],
 ['Alberto',
  'Jiménez',
  'Calle Sol 314',
  '555-1027',
  'pedro@example.com',
  '2023-01-15'],
 ['Alberto',
  'Herrera',
  'Calle Unión 671',
  '555-1854',
  'claudia@example.com',
  '2024-02-19'],
 ['Sofía',
  'Ruiz',
  'Calle Sol 859',
  '555-2454',
  'sofia@example.com',
  '2023-04-20'],
 ['Andrés',
  'Martínez',
  'Calle Norte 325',
  '555-7860',
  'ana@example.com',
  '2023-05-05'],
 ['Claudia',
  'Vega',
  'Calle Libertad 216',
  '555-5894',
  'sofia@example.com',
  '2023-04-02'],
 ['Carlos',
  'Ruiz',
  'Calle Sol 886',
  '555-5109',
  'sofia@example.com',
  '2023-05-13'],
 ['Rafael',
  'Navarro',
  'Calle Unión 873',
  '555-7701',
  'sofia@example.com',
  '2024-07-22'],
 ['Luis',
  'Fernández',
  'Calle Sol 670',
  '555-2781',
  'pedro@example.com',
  '2023-06-08'],
 ['Pedro',
  'Castro',
  'Calle Oeste 694',
  '555-8877',
  'ana@example.com',
  '2024-07-23'],
 ['María',
  'Navarro',
  'Calle Central 667',
  '555-4713',
  'elena@example.com',
  '2023-04-16'],
 ['Jorge',
  'Ramírez',
  'Calle Central 415',
  '555-3248',
  'sofia@example.com',
  '2023-06-23'],
 ['Ana',
  'Castro',
  'Calle Central 697',
  '555-1925',
  'fernando@example.com',
  '2024-04-04'],
 ['Alberto',
  'Navarro',
  'Calle Sur 593',
  '555-9001',
  'ricardo@example.com',
  '2023-07-01'],
 ['Alberto',
  'Gil',
  'Calle Central 253',
  '555-5432',
  'jorge@example.com',
  '2024-04-10'],
 ['Carmen',
  'Torres',
  'Calle Estrella 917',
  '555-2303',
  'ana@example.com',
  '2023-10-08'],
 ['Jorge',
  'Herrera',
  'Calle Unión 434',
  '555-1761',
  'pedro@example.com',
  '2023-06-11'],
 ['Andrés',
  'Navarro',
  'Calle Luna 464',
  '555-7657',
  'sofia@example.com',
  '2024-01-09'],
 ['Elena',
  'Ruiz',
  'Calle Central 717',
  '555-2247',
  'fernando@example.com',
  '2024-01-02'],
 ['Andrés',
  'Ruiz',
  'Calle Norte 573',
  '555-5793',
  'pedro@example.com',
  '2024-07-23'],
 ['Ricardo',
  'Sánchez',
  'Calle Estrella 788',
  '555-4533',
  'sofia@example.com',
  '2024-05-07'],
 ['Elena',
  'López',
  'Calle Estrella 824',
  '555-1749',
  'luis@example.com',
  '2023-08-22'],
 ['Ricardo',
  'Vega',
  'Calle Sur 494',
  '555-9858',
  'claudia@example.com',
  '2023-10-22'],
 ['Marta',
  'Jiménez',
  'Calle Central 925',
  '555-7477',
  'elena@example.com',
  '2024-01-02'],
 ['Miguel',
  'Jiménez',
  'Calle Central 659',
  '555-8718',
  'maria@example.com',
  '2023-03-19'],
 ['Pedro',
  'Gómez',
  'Calle Sur 386',
  '555-4699',
  'luis@example.com',
  '2023-08-15'],
 ['Fernando',
  'Domínguez',
  'Calle Luna 225',
  '555-6503',
  'fernando@example.com',
  '2023-04-16'],
 ['Lucía',
  'Gómez',
  'Calle Libertad 378',
  '555-1513',
  'elena@example.com',
  '2023-12-10'],
 ['Carmen',
  'Castro',
  'Calle Luna 232',
  '555-8751',
  'ricardo@example.com',
  '2023-10-07'],
 ['Miguel',
  'Morales',
  'Calle Luna 305',
  '555-8601',
  'jorge@example.com',
  '2024-12-07'],
 ['Ana',
  'Fernández',
  'Calle Estrella 382',
  '555-9985',
  'ricardo@example.com',
  '2023-12-08'],
 ['Ricardo',
  'Vega',
  'Calle Oeste 734',
  '555-5995',
  'luis@example.com',
  '2024-07-24'],
 ['María',
  'Gómez',
  'Calle Estrella 237',
  '555-6815',
  'pedro@example.com',
  '2023-08-19'],
 ['Laura',
  'Domínguez',
  'Calle Unión 151',
  '555-4818',
  'elena@example.com',
  '2024-12-06'],
 ['Lucía',
  'Pérez',
  'Calle Sol 910',
  '555-2143',
  'elena@example.com',
  '2024-10-15'],
 ['Pedro',
  'Díaz',
  'Calle Sol 915',
  '555-2977',
  'sofia@example.com',
  '2023-06-06'],
 ['Laura',
  'Domínguez',
  'Calle Sur 709',
  '555-7469',
  'luis@example.com',
  '2023-05-10'],
 ['Fernando',
  'Domínguez',
  'Calle Libertad 186',
  '555-7967',
  'elena@example.com',
  '2024-03-24'],
 ['Marta',
  'Herrera',
  'Calle Este 337',
  '555-7922',
  'maria@example.com',
  '2023-06-23'],
 ['Marta',
  'Herrera',
  'Calle Este 861',
  '555-8552',
  'luis@example.com',
  '2024-10-22'],
 ['Rafael',
  'Torres',
  'Calle Este 789',
  '555-5440',
  'luis@example.com',
  '2023-07-02'],
 ['Pedro',
  'Martínez',
  'Calle Sol 764',
  '555-7215',
  'luis@example.com',
  '2024-12-28'],
 ['Marta',
  'Torres',
  'Calle Libertad 658',
  '555-3490',
  'ana@example.com',
  '2023-12-01'],
 ['Ana',
  'Vega',
  'Calle Norte 408',
  '555-4785',
  'ricardo@example.com',
  '2023-12-01'],
 ['Alberto',
  'Ortega',
  'Calle Unión 411',
  '555-2717',
  'maria@example.com',
  '2023-11-25'],
 ['Patricia',
  'Ortega',
  'Calle Oeste 504',
  '555-4407',
  'maria@example.com',
  '2024-03-16'],
 ['Miguel',
  'Gil',
  'Calle Oeste 799',
  '555-2886',
  'ricardo@example.com',
  '2024-01-22'],
 ['Pedro',
  'Torres',
  'Calle Estrella 617',
  '555-2703',
  'ricardo@example.com',
  '2023-05-21'],
 ['Luis',
  'Gil',
  'Calle Estrella 915',
  '555-7483',
  'claudia@example.com',
  '2024-08-24'],
 ['María',
  'Ruiz',
  'Calle Norte 913',
  '555-5982',
  'pedro@example.com',
  '2023-10-10'],
 ['Claudia',
  'García',
  'Calle Unión 160',
  '555-9489',
  'ricardo@example.com',
  '2023-07-09'],
 ['Carlos',
  'Ramírez',
  'Calle Este 763',
  '555-8144',
  'luis@example.com',
  '2023-05-25'],
 ['Patricia',
  'Ortega',
  'Calle Central 683',
  '555-1518',
  'claudia@example.com',
  '2023-02-28'],
 ['Marta',
  'Vega',
  'Calle Estrella 655',
  '555-3033',
  'jorge@example.com',
  '2023-04-27'],
 ['Laura',
  'López',
  'Calle Unión 112',
  '555-6676',
  'pedro@example.com',
  '2024-02-14'],
 ['Pedro',
  'Morales',
  'Calle Sol 293',
  '555-3304',
  'maria@example.com',
  '2024-09-18'],
 ['Pedro',
  'Ruiz',
  'Calle Libertad 158',
  '555-4636',
  'luis@example.com',
  '2024-04-09'],
 ['Laura',
  'Herrera',
  'Calle Sur 985',
  '555-6217',
  'sofia@example.com',
  '2024-07-07'],
 ['Ana',
  'Vega',
  'Calle Sur 483',
  '555-8452',
  'fernando@example.com',
  '2024-03-07'],
 ['Miguel',
  'Ortega',
  'Calle Central 935',
  '555-2034',
  'maria@example.com',
  '2023-08-16'],
 ['Rafael',
  'Ortega',
  'Calle Norte 335',
  '555-9679',
  'fernando@example.com',
  '2023-02-07'],
 ['Ana',
  'Jiménez',
  'Calle Este 721',
  '555-7907',
  'maria@example.com',
  '2023-04-14'],
 ['Carmen',
  'Vega',
  'Calle Este 640',
  '555-8066',
  'luis@example.com',
  '2024-07-12'],
 ['Ana',
  'Ramírez',
  'Calle Oeste 912',
  '555-2052',
  'sofia@example.com',
  '2024-10-25'],
 ['Miguel',
  'Ruiz',
  'Calle Central 547',
  '555-4678',
  'jorge@example.com',
  '2023-01-28'],
 ['María',
  'Pérez',
  'Calle Estrella 944',
  '555-1545',
  'ricardo@example.com',
  '2024-08-08'],
 ['Alberto',
  'Martínez',
  'Calle Sur 548',
  '555-3048',
  'fernando@example.com',
  '2023-02-25'],
 ['Ana',
  'Morales',
  'Calle Luna 462',
  '555-7748',
  'maria@example.com',
  '2024-03-06'],
 ['Luis',
  'Domínguez',
  'Calle Sur 383',
  '555-7868',
  'fernando@example.com',
  '2024-05-08'],
 ['Laura',
  'Fernández',
  'Calle Este 743',
  '555-1873',
  'elena@example.com',
  '2023-11-23'],
 ['Claudia',
  'Sánchez',
  'Calle Central 411',
  '555-9275',
  'sofia@example.com',
  '2024-03-04'],
 ['Carmen',
  'Torres',
  'Calle Sur 770',
  '555-7737',
  'claudia@example.com',
  '2023-09-21'],
 ['Carlos',
  'Ramírez',
  'Calle Sol 570',
  '555-4267',
  'fernando@example.com',
  '2023-10-06'],
 ['Jorge',
  'Vega',
  'Calle Estrella 737',
  '555-3716',
  'elena@example.com',
  '2023-08-21'],
 ['María',
  'Domínguez',
  'Calle Central 772',
  '555-8500',
  'fernando@example.com',
  '2023-07-27'],
 ['Ricardo',
  'Navarro',
  'Calle Estrella 789',
  '555-1408',
  'ana@example.com',
  '2024-10-09'],
 ['Rafael',
  'Castro',
  'Calle Central 655',
  '555-3156',
  'maria@example.com',
  '2024-05-05'],
 ['Laura',
  'Martínez',
  'Calle Central 757',
  '555-6979',
  'elena@example.com',
  '2024-06-06'],
 ['Ricardo',
  'Martínez',
  'Calle Sol 135',
  '555-1211',
  'elena@example.com',
  '2024-05-05'],
 ['Carlos',
  'Jiménez',
  'Calle Luna 902',
  '555-6373',
  'ricardo@example.com',
  '2024-02-11'],
 ['Elena',
  'Morales',
  'Calle Central 783',
  '555-4862',
  'luis@example.com',
  '2023-03-08'],
 ['Carlos',
  'Navarro',
  'Calle Central 926',
  '555-5725',
  'sofia@example.com',
  '2024-04-24'],
 ['Fernando',
  'Pérez',
  'Calle Central 930',
  '555-1933',
  'maria@example.com',
  '2023-04-19'],
 ['Carmen',
  'Herrera',
  'Calle Sol 193',
  '555-3737',
  'fernando@example.com',
  '2023-02-13'],
 ['Elena',
  'Gómez',
  'Calle Unión 888',
  '555-4388',
  'maria@example.com',
  '2024-10-16'],
 ['Miguel',
  'Torres',
  'Calle Estrella 974',
  '555-6146',
  'ana@example.com',
  '2024-11-14'],
 ['Ana',
  'Ortega',
  'Calle Central 942',
  '555-3603',
  'luis@example.com',
  '2023-09-18'],
 ['Laura',
  'Sánchez',
  'Calle Estrella 775',
  '555-6308',
  'maria@example.com',
  '2023-02-20'],
 ['Luis',
  'Herrera',
  'Calle Sol 924',
  '555-5736',
  'fernando@example.com',
  '2024-04-13'],
 ['Sofía',
  'García',
  'Calle Estrella 679',
  '555-8406',
  'sofia@example.com',
  '2023-01-18'],
 ['Luis',
  'Fernández',
  'Calle Sur 873',
  '555-3188',
  'ricardo@example.com',
  '2023-08-06'],
 ['Marta',
  'Ruiz',
  'Calle Oeste 360',
  '555-8999',
  'pedro@example.com',
  '2024-02-19'],
 ['Laura',
  'Torres',
  'Calle Sol 997',
  '555-8173',
  'luis@example.com',
  '2023-04-27'],
 ['Lucía',
  'Herrera',
  'Calle Luna 278',
  '555-1620',
  'ricardo@example.com',
  '2023-02-14'],
 ['Carmen',
  'Martínez',
  'Calle Central 578',
  '555-1861',
  'ana@example.com',
  '2023-06-18'],
 ['Sofía',
  'Jiménez',
  'Calle Libertad 173',
  '555-8764',
  'ana@example.com',
  '2023-03-20'],
 ['Lucía',
  'Gil',
  'Calle Sur 489',
  '555-4080',
  'luis@example.com',
  '2024-06-03'],
 ['Ricardo',
  'Ramírez',
  'Calle Luna 883',
  '555-1927',
  'elena@example.com',
  '2024-08-27'],
 ['Marta',
  'Castro',
  'Calle Sol 594',
  '555-1357',
  'sofia@example.com',
  '2023-06-20'],
 ['Patricia',
  'Ramírez',
  'Calle Sol 611',
  '555-5645',
  'sofia@example.com',
  '2023-02-04'],
 ['Fernando',
  'Herrera',
  'Calle Luna 716',
  '555-2393',
  'elena@example.com',
  '2023-06-07'],
 ['Lucía',
  'Vega',
  'Calle Unión 839',
  '555-3057',
  'luis@example.com',
  '2023-12-05'],
 ['Carmen',
  'Herrera',
  'Calle Central 976',
  '555-5503',
  'ricardo@example.com',
  '2024-09-15'],
 ['Elena',
  'Vega',
  'Calle Central 609',
  '555-8470',
  'elena@example.com',
  '2023-06-11'],
 ['Ana',
  'Ortega',
  'Calle Libertad 315',
  '555-7806',
  'pedro@example.com',
  '2023-01-07'],
 ['Fernando',
  'Díaz',
  'Calle Unión 873',
  '555-2212',
  'sofia@example.com',
  '2024-02-23'],
 ['Marta',
  'García',
  'Calle Central 989',
  '555-1272',
  'ricardo@example.com',
  '2024-05-23'],
 ['Luis',
  'Navarro',
  'Calle Unión 452',
  '555-5123',
  'luis@example.com',
  '2023-01-03'],
 ['Ricardo',
  'Gómez',
  'Calle Sur 653',
  '555-4393',
  'jorge@example.com',
  '2024-10-20'],
 ['Lucía',
  'Morales',
  'Calle Libertad 323',
  '555-4056',
  'fernando@example.com',
  '2024-03-06'],
 ['Alberto',
  'Martínez',
  'Calle Luna 943',
  '555-2072',
  'ana@example.com',
  '2024-08-15'],
 ['Sofía',
  'Vega',
  'Calle Central 579',
  '555-2194',
  'elena@example.com',
  '2024-10-16'],
 ['Andrés',
  'Domínguez',
  'Calle Luna 856',
  '555-7721',
  'maria@example.com',
  '2023-07-21'],
 ['Sofía',
  'Castro',
  'Calle Estrella 314',
  '555-3622',
  'claudia@example.com',
  '2024-07-15'],
 ['Rafael',
  'Domínguez',
  'Calle Oeste 249',
  '555-1325',
  'ricardo@example.com',
  '2024-08-20'],
 ['Ricardo',
  'Gil',
  'Calle Central 865',
  '555-8520',
  'maria@example.com',
  '2023-03-21'],
 ['Andrés',
  'Castro',
  'Calle Luna 268',
  '555-6848',
  'ana@example.com',
  '2023-06-24'],
 ['María',
  'García',
  'Calle Luna 172',
  '555-9053',
  'fernando@example.com',
  '2023-07-25'],
 ['Ana',
  'Torres',
  'Calle Luna 171',
  '555-3720',
  'ricardo@example.com',
  '2023-08-26'],
 ['Jorge',
  'López',
  'Calle Estrella 881',
  '555-4385',
  'jorge@example.com',
  '2024-07-24'],
 ['Elena',
  'Morales',
  'Calle Sol 374',
  '555-7380',
  'jorge@example.com',
  '2023-06-24'],
 ['Elena',
  'Pérez',
  'Calle Sol 123',
  '555-5833',
  'sofia@example.com',
  '2024-03-27'],
 ['Alberto',
  'Herrera',
  'Calle Oeste 396',
  '555-5794',
  'elena@example.com',
  '2024-01-23'],
 ['Marta',
  'Ruiz',
  'Calle Oeste 976',
  '555-8968',
  'ana@example.com',
  '2024-02-26'],
 ['Rafael',
  'Torres',
  'Calle Sol 359',
  '555-3197',
  'luis@example.com',
  '2024-12-02'],
 ['Sofía',
  'Ortega',
  'Calle Sur 951',
  '555-9892',
  'jorge@example.com',
  '2023-03-14'],
 ['Andrés',
  'Díaz',
  'Calle Unión 386',
  '555-1111',
  'pedro@example.com',
  '2023-08-20'],
 ['Alberto',
  'Domínguez',
  'Calle Oeste 165',
  '555-1826',
  'jorge@example.com',
  '2023-08-10'],
 ['Claudia',
  'Torres',
  'Calle Norte 223',
  '555-6169',
  'pedro@example.com',
  '2024-11-21'],
 ['Lucía',
  'Torres',
  'Calle Luna 523',
  '555-6285',
  'ana@example.com',
  '2023-09-22'],
 ['Andrés',
  'Gil',
  'Calle Sol 693',
  '555-9920',
  'maria@example.com',
  '2023-02-12'],
 ['Alberto',
  'Domínguez',
  'Calle Este 693',
  '555-9713',
  'ana@example.com',
  '2024-01-06'],
 ['Carmen',
  'Díaz',
  'Calle Este 920',
  '555-8421',
  'luis@example.com',
  '2024-06-07'],
 ['Luis',
  'Torres',
  'Calle Norte 193',
  '555-4992',
  'fernando@example.com',
  '2024-05-07'],
 ['Andrés',
  'Ramírez',
  'Calle Luna 849',
  '555-4985',
  'luis@example.com',
  '2023-06-02'],
 ['Patricia',
  'Pérez',
  'Calle Sur 420',
  '555-8879',
  'ricardo@example.com',
  '2024-02-25'],
 ['Alberto',
  'Vega',
  'Calle Luna 947',
  '555-8111',
  'sofia@example.com',
  '2023-09-05'],
 ['Carlos',
  'Fernández',
  'Calle Sur 224',
  '555-4859',
  'pedro@example.com',
  '2023-02-16'],
 ['Claudia',
  'García',
  'Calle Oeste 690',
  '555-9656',
  'sofia@example.com',
  '2024-11-14'],
 ['Andrés',
  'Domínguez',
  'Calle Este 479',
  '555-8572',
  'elena@example.com',
  '2023-09-06'],
 ['Sofía',
  'Gil',
  'Calle Libertad 402',
  '555-9261',
  'maria@example.com',
  '2023-04-27']]

In [37]:
import mysql.connector
from mysql.connector import errorcode

In [38]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='videoclub')

In [39]:
my_cursor = cnx.cursor()

In [40]:
query_insert = ("INSERT INTO clientes (nombre,apellido,direccion,telefono,email,fecha_registro) VALUES (%s,%s,%s,%s,%s,%s)")

In [41]:
my_cursor.executemany(query_insert, lista_clientes)

In [42]:
cnx.commit()

In [43]:
results = my_cursor.execute('SELECT * FROM clientes')

In [45]:
results = my_cursor.fetchall()

In [46]:
df_results = pd.DataFrame(results)
df_results

,0,1,2,3,4,5,6
0,1,Carlos,García,Av. Principal 123,555-1234,carlos_garcia@example.com,2023-01-15
1,3,Miguel,Lopez,Av. Tercera 789,555-9876,miguel@example.com,2023-03-10
2,4,Carmen,Navarro,Calle Norte 659,555-8199,ana@example.com,2024-10-25
3,5,Sofía,Ruiz,Calle Oeste 504,555-9360,ana@example.com,2023-01-10
4,6,Carlos,Herrera,Calle Sol 533,555-7115,jorge@example.com,2024-03-13
...,...,...,...,...,...,...,...
444,595,Alberto,Vega,Calle Luna 947,555-8111,sofia@example.com,2023-09-05
445,596,Carlos,Fernández,Calle Sur 224,555-4859,pedro@example.com,2023-02-16
446,597,Claudia,García,Calle Oeste 690,555-9656,sofia@example.com,2024-11-14
447,598,Andrés,Domínguez,Calle Este 479,555-8572,elena@example.com,2023-09-06
448,599,Sofía,Gil,Calle Libertad 402,555-9261,maria@example.com,2023-04-27

In [47]:
df_results.head(5)

,0,1,2,3,4,5,6
0,1,Carlos,García,Av. Principal 123,555-1234,carlos_garcia@example.com,2023-01-15
1,3,Miguel,Lopez,Av. Tercera 789,555-9876,miguel@example.com,2023-03-10
2,4,Carmen,Navarro,Calle Norte 659,555-8199,ana@example.com,2024-10-25
3,5,Sofía,Ruiz,Calle Oeste 504,555-9360,ana@example.com,2023-01-10
4,6,Carlos,Herrera,Calle Sol 533,555-7115,jorge@example.com,2024-03-13

In [48]:
df_results.tail(5)

,0,1,2,3,4,5,6
444,595,Alberto,Vega,Calle Luna 947,555-8111,sofia@example.com,2023-09-05
445,596,Carlos,Fernández,Calle Sur 224,555-4859,pedro@example.com,2023-02-16
446,597,Claudia,García,Calle Oeste 690,555-9656,sofia@example.com,2024-11-14
447,598,Andrés,Domínguez,Calle Este 479,555-8572,elena@example.com,2023-09-06
448,599,Sofía,Gil,Calle Libertad 402,555-9261,maria@example.com,2023-04-27