In [2]:
import pandas as pd

Dataset separated in two files:

Fake.csv (23502 fake news article)
True.csv (21417 true news article)
Dataset columns:

Title: title of news article
Text: body text of news article
Subject: subject of news article
Date: publish date of news article

https://www.kaggle.com/datasets/clmentbisaillon/fake-and-real-news-dataset

In [3]:
df_dataset_4_fake = pd.read_csv(r'C:\Users\Kathe\Documents\source_code\ejercicios-en-adalab\Proyecto Personal\csv_proyecto_personal\dataset_4\Fake.csv')

pd.set_option('display.max_columns', None)

df_dataset_4_fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [4]:
df_dataset_4_fake['label'] = 'FAKE'

df_dataset_4_fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",FAKE
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",FAKE
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",FAKE
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",FAKE
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",FAKE

In [5]:
df_dataset_4_true = pd.read_csv(r'C:\Users\Kathe\Documents\source_code\ejercicios-en-adalab\Proyecto Personal\csv_proyecto_personal\dataset_4\True.csv')

pd.set_option('display.max_columns', None)

df_dataset_4_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [6]:
df_dataset_4_true['label'] = 'REAL'

df_dataset_4_true

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",REAL
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",REAL
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",REAL
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",REAL
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",REAL
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",REAL
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",REAL
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",REAL
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",REAL
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",REAL

In [7]:
df_combined_dataset_4 = pd.concat([df_dataset_4_fake, df_dataset_4_true], ignore_index=True)

df_combined_dataset_4.sample(10)

,title,text,subject,date,label
10392,CONSERVATIVE FIREBRAND ANN COULTER DESTROYS De...,There are some people you probably shouldn t c...,politics,"Jul 16, 2017",FAKE
13855,DOJ Funneled Housing Crisis Money To Immigrant...,Our DOJ and other government agencies are doin...,politics,"May 22, 2016",FAKE
8789,The Bundy Militia Now Has An ISIS Supporter H...,David Fry is a self-titled computer expert t...,News,"January 13, 2016",FAKE
31719,Peru's central bank chief says Trump gives him...,LIMA (Reuters) - The head of Peru’s central ba...,politicsNews,"September 8, 2016",REAL
42702,Problems pile up for unlucky village near epic...,"HUAUTLA, Mexico (Reuters) - Yesenia Vergara gr...",worldnews,"September 24, 2017",REAL
8160,MSNBC Sources Say Everyone At Network Is Dist...,Political pundit Joe Scarborough has a Donald ...,News,"February 12, 2016",FAKE
42569,"Scenting power, potential Merkel coalition par...","BERLIN (Reuters) - Nominally, they are at odds...",worldnews,"September 25, 2017",REAL
4266,"President Obama BLASTS ‘Insecure’ Trump, Make...",Donald Trump fell on his face repeatedly durin...,News,"October 10, 2016",FAKE
36715,China says resurfacing tensions on Korean peni...,BEIJING (Reuters) - Chinese Foreign Minister W...,worldnews,"December 4, 2017",REAL
13252,TYRA FOR TRUMP Hammers The Media On Their Bias...,Tyra for Trump lets it rip on the biased media...,politics,"Aug 14, 2016",FAKE

In [8]:
print(f'There are {df_combined_dataset_4.shape[0]} rows in Dataset4')
print(f'There are {df_combined_dataset_4.shape[1]} columns in Dataset4')

There are 44898 rows in Dataset4
There are 5 columns in Dataset4

In [9]:
df_combined_dataset_4.describe().T

,count,unique,top,freq
title,44898,38729,Factbox: Trump fills top jobs for his administ...,14
text,44898,38646,,627
subject,44898,8,politicsNews,11272
date,44898,2397,"December 20, 2017",182
label,44898,2,FAKE,23481

In [10]:
df_combined_dataset_4['title'].unique()

array([' Donald Trump Sends Out Embarrassing New Year’s Eve Message; This is Disturbing',
       ' Drunk Bragging Trump Staffer Started Russian Collusion Investigation',
       ' Sheriff David Clarke Becomes An Internet Joke For Threatening To Poke People ‘In The Eye’',
       ..., 'Minsk cultural hub becomes haven from authorities',
       'Vatican upbeat on possibility of Pope Francis visiting Russia',
       'Indonesia to buy $1.14 billion worth of Russian jets'],
      shape=(38729,), dtype=object)

In [11]:
df_combined_dataset_4.dtypes

title      object
text       object
subject    object
date       object
label      object
dtype: object

In [12]:
df_combined_dataset_4['label'].value_counts()

label
FAKE    23481
REAL    21417
Name: count, dtype: int64

In [13]:
df_combined_dataset_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  object
dtypes: object(5)
memory usage: 1.7+ MB

In [14]:
df_combined_dataset_4 = df_combined_dataset_4.drop('subject', axis=1)
df_combined_dataset_4 = df_combined_dataset_4.drop('date', axis=1)

df_combined_dataset_4.head()

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,FAKE
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,FAKE
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",FAKE
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",FAKE
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,FAKE

In [15]:
df_combined_dataset_4.duplicated().sum()

np.int64(5793)

In [17]:
df_combined_dataset_4 = df_combined_dataset_4.drop_duplicates()
df_combined_dataset_4.duplicated().sum()

np.int64(0)

In [18]:
df_combined_dataset_4.to_csv('dataset_4.csv', index=False)