In [13]:
import pandas as pd

Dataset separated in two files:

Fake.csv (23502 fake news article)
True.csv (21417 true news article)
Dataset columns:

Title: title of news article
Text: body text of news article
Subject: subject of news article
Date: publish date of news article

https://www.kaggle.com/datasets/clmentbisaillon/fake-and-real-news-dataset

In [14]:
df_dataset_4_fake = pd.read_csv(r'C:\Users\Kathe\Documents\source_code\ejercicios-en-adalab\Proyecto Personal\csv_proyecto_personal\dataset_4\Fake.csv')

pd.set_option('display.max_columns', None)

df_dataset_4_fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [15]:
df_dataset_4_fake['label'] = 'FAKE'

df_dataset_4_fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",FAKE
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",FAKE
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",FAKE
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",FAKE
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",FAKE

In [16]:
df_dataset_4_true = pd.read_csv(r'C:\Users\Kathe\Documents\source_code\ejercicios-en-adalab\Proyecto Personal\csv_proyecto_personal\dataset_4\True.csv')

pd.set_option('display.max_columns', None)

df_dataset_4_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [17]:
df_dataset_4_true['label'] = 'REAL'

df_dataset_4_true

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",REAL
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",REAL
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",REAL
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",REAL
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",REAL
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",REAL
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",REAL
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",REAL
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",REAL
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",REAL

In [18]:
df_combined_dataset_4 = pd.concat([df_dataset_4_fake, df_dataset_4_true], ignore_index=True)

df_combined_dataset_4.sample(10)

,title,text,subject,date,label
23788,Democrats flex muscles as Congress confronts a...,WASHINGTON (Reuters) - Democrats have a rare c...,politicsNews,"December 5, 2017",REAL
27284,Former intelligence chief Clapper: Comey was u...,WASHINGTON (Reuters) - Former Director of Nati...,politicsNews,"May 12, 2017",REAL
40265,U.S. senators seek answers on U.S. presence in...,WASHINGTON (Reuters) - U.S. senators said on S...,worldnews,"October 22, 2017",REAL
17854,4 EASY TO UNDERSTAND REASONS My Ancestors Are ...,How many times have liberals used the argument...,left-news,"Oct 5, 2017",FAKE
36522,China calls for restraint after a U.S. B-1B bo...,BEIJING (Reuters) - China said on Wednesday it...,worldnews,"December 6, 2017",REAL
25600,Trump drops plan to create infrastructure coun...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"August 17, 2017",REAL
33027,Puerto Rico debt bill due in 'coming days': Ho...,WASHINGTON (Reuters) - U.S. House of Represent...,politicsNews,"May 13, 2016",REAL
33640,"Trump questions NATO, Asia nuclear weapons ahe...",WASHINGTON (Reuters) - U.S. Republican preside...,politicsNews,"March 27, 2016",REAL
6788,Colbert’s Rundown Of The ‘Harriet Tubman On T...,Stephen Colbert hit the nail right on the head...,News,"April 21, 2016",FAKE
8492,Leave It To Sesame Street To Teach America Wh...,For everyone other than maybe his investment p...,News,"January 27, 2016",FAKE

In [19]:
print(f'There are {df_combined_dataset_4.shape[0]} rows in Dataset4')
print(f'There are {df_combined_dataset_4.shape[1]} columns in Dataset4')

There are 44898 rows in Dataset4
There are 5 columns in Dataset4

In [20]:
df_combined_dataset_4.describe().T

,count,unique,top,freq
title,44898,38729,Factbox: Trump fills top jobs for his administ...,14
text,44898,38646,,627
subject,44898,8,politicsNews,11272
date,44898,2397,"December 20, 2017",182
label,44898,2,FAKE,23481

In [21]:
df_combined_dataset_4['title'].unique()

array([' Donald Trump Sends Out Embarrassing New Year’s Eve Message; This is Disturbing',
       ' Drunk Bragging Trump Staffer Started Russian Collusion Investigation',
       ' Sheriff David Clarke Becomes An Internet Joke For Threatening To Poke People ‘In The Eye’',
       ..., 'Minsk cultural hub becomes haven from authorities',
       'Vatican upbeat on possibility of Pope Francis visiting Russia',
       'Indonesia to buy $1.14 billion worth of Russian jets'],
      shape=(38729,), dtype=object)

In [22]:
df_combined_dataset_4.dtypes

title      object
text       object
subject    object
date       object
label      object
dtype: object

In [23]:
df_combined_dataset_4['label'].value_counts()

label
FAKE    23481
REAL    21417
Name: count, dtype: int64

In [24]:
df_combined_dataset_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  object
dtypes: object(5)
memory usage: 1.7+ MB

In [25]:
df_combined_dataset_4 = df_combined_dataset_4.drop('subject', axis=1)
df_combined_dataset_4 = df_combined_dataset_4.drop('date', axis=1)

df_combined_dataset_4.head()

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,FAKE
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,FAKE
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",FAKE
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",FAKE
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,FAKE

In [26]:
#it doesn't indicate any null entries for text, but in  the info, it shows 627 texts that are empty.

In [27]:
df_combined_dataset_4.to_csv('dataset_4.csv', index=False)